!!!
%html
  %head
    %title== Are people watching it yet?
    %link{ :rel => 'stylesheet', :href => "styles.css", :type => 'text/css' }

  %body
    %img.octocat{ :src => 'http://octodex.github.com/images/original.jpg' }
    %form{:action => '/check'}
      %label Enter comma separated github usernames
      %input{ :type => 'text', :name => 'who' }
      %label Enter the name of repository or user to check (like futuresimple/jessie or marcinbunsch)
      %input{ :type => 'text', :name => 'what' }
      .submit
        %input{ :type => 'submit', :value => 'Check it!' }

