!!!
%html
  %head
    %title== Are people watching it yet?
    %link{ :rel => 'stylesheet', :href => "styles.css", :type => 'text/css' }

  %body
    %img.octocat{ :src => 'http://octodex.github.com/images/original.jpg' }
    %form{:action => '/check'}
      %label Enter comma separated github usernames
      %input{ :type => 'text', :name => 'who' }
      %label Enter the name of repository or user to check (like futuresimple/jessie or marcinbunsch)
      %input{ :type => 'text', :name => 'what' }
      .submit
        %input{ :type => 'submit', :value => 'Check it!' }

== <a href="http://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>